<html>
<head>
    <title>SaaS Manual</title>
    <link rel="stylesheet" href="/assets/css/layout.css">
</head>
<body>
    <img src="/assets/img/saasmanual-logo.png" />
    {{ content|safe }}
</body>
</html>