<html>
  {% include './include/head.njk' %}
  <body>
    {% include './include/navigation.njk' %}
    {{ background }}
    <div class="max-w-prose mx-auto mt-12">
      {{ content|safe }}
    </div>
  </body>
</html>
