<html lang="en">
<head>
  {% include './include/head.njk' %}
</head>
<body>
  {% include './include/navigation.njk' %}
  <div class="max-w-prose prose prose-pink prose-lg text-gray-700 mx-auto mt-12 pb-24 px-4 md:px-0">
    <h1>{{ title }}</h1>
    {{ content|safe }}
  </div>
</body>
</html>
