<html>
<head>
  {% include './include/head.njk' %}
  <meta property="og:site_name" content="SaaS Manual">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ excerpt }}">
  {% if cover %}<meta property="og:image" content="{{ config.url }}/assets/img/{{ cover }}">{% endif %}
  <meta property="og:url" content="{{ config.url }}{{ link }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{ title }}">
  <meta name="twitter:site" content="@saasmanual">
</head>
<body x-model="{a:11}">
  {% include './include/navigation.njk' %}
  {% if cover %}
  <div class="h-96 overflow-hidden"> 
    <img src="/assets/img/{{ cover }}" class="w-full h-full object-cover object-center" />
  </div>
  {% endif %}
  <div class="max-w-prose prose prose-pink prose-lg text-gray-700 mx-auto mt-12 pb-24 px-4 md:px-0">
    <h1>{{ title }}</h1>
    {{ content|safe }}
  </div>
</body>
</html>
