  <title>{{ title }}</title>
  
  <meta charset="utf-8" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
  <meta name="description" content="{{ description }}" />
  
  <link rel="icon" type="image/svg+xml" href="/assets/img/saasmanual-logo.svg" />
  <link rel="stylesheet" href="/assets/css/layout.css" />
  <link rel="canonical" href="{{ link }}" />
  {%- if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {%- endif %}

  <script src="/assets/js/vendor/alpine.min.js" defer></script>
  {% include './analytics.njk' %}